{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "globals": {
    "NODE_ENV": "readonly"
  },
  "rules": {
    "comma-dangle": 0,
    "no-underscore-dangle": 0
  }
}
